{% extends "header.html" %}

{% block content %}

        <div class="col-lg-12">
          <h1 class="page-header">
              <small>Edit {{ entry_id }}</small>
          </h1>
          <form action = "" method = "POST"
         enctype = "multipart/form-data">
          {{ form.hidden_tag() }}
            <div class="form-group row">
              {{ form.userid.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-3">
                {{ form.userid(class="form-control", placeholder="User ID") }}
                {% for error in form.userid.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
              {{ form.product.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-2">
                {{ form.product(class="form-control") }}
                {% for error in form.product.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
              {{ form.partnumber.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-3">
                {{ form.partnumber(class="form-control", placeholder="Part Number") }}
                {% for error in form.partnumber.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
              {{ form.serialnumber.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-3">
                {{ form.serialnumber(class="form-control", placeholder="Serial Number") }}
                {% for error in form.serialnumber.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
             {{ form.designator.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-3">
                {{ form.designator(class="form-control", placeholder="Designator") }}
                {% for error in form.designator.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
             {{ form.notes.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-5">
                {{ form.notes(class="form-control", placeholder="Notes") }}
                {% for error in form.notes.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
             {{ form.uploadfile.label(class="col-sm-2 col-form-label") }}
              <div class="col-sm-3">
                <label class="custom-file">
                {{ form.uploadfile(class="custom-file-input") }}
                {% for error in form.uploadfile.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                  <span class="custom-file-control"></span>
                </label>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        <!--  Ask for:<br>
            User id<br>
            E-Folder Serial Number<br> (if already exists)
            part Number<br> (Only needed for first note)
            Type of note DROPDOWN: (assembly, ftp, service?)<br>
            Note<br>
            Attachment(?)<br> -->

        </div> <!-- /.col-lg-12 -->

{% endblock %}
